<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <title>Foodlurker</title>
    <link href="<%= url("/stylesheets/bootstrap.min.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= url("/stylesheets/bootstrap-datetimepicker.min.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= url("/stylesheets/main.css") %>", rel="stylesheet", type="text/css" />
    <%= erb :"partials/_html5shim" %>
  </head>
  <body>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-datetimepicker.min.js"></script>
    <header>  
      <% unless flash.nil? %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <%= value %> 
          </div>
        <% end %>
      <% end %>
      <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <a href="/" class="navbar-brand">Foodlurker</a>
        <div class = "collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/events/new">Submit event</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="background">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>