<h2><%= @location.name %></h2>
<a href="/<%= @location.id %>/new">Post a new event</a>
<% unless @events.nil? %>
  <% @events.each do |listing| %>
    <li>
      <h3><%= listing.name %></h3>
      <%= delete_event_button(listing) %>
      <p>
        <%= listing.starttime.strftime("%B %d at %I:%M %P") unless listing.starttime.nil? %>
      </p>
      <p>
        <%= listing.description %>
      </p>
    </li>
  <% end %>
<% end %>